mixin subscribe-form(subscribeForm)
  form.subscribe-form(
    method=subscribeForm.method
    action=subscribeForm.action)
    .subscribe-form__content
      .subscribe-form__input-field
        input.subscribe-form__input(
        id=subscribeForm.email.fieldId
        type="email"
        name=subscribeForm.email.fieldName
        placeholder=subscribeForm.email.label)

      .subscribe-form__submit-field
        button.subscribe-form__submit(type="submit")
          .subscribe-form__submit-icon
            +icon({name: 'email'})
          .subscribe-form__submit-label!=subscribeForm.submit.label