include mixins/_index
include ./../views/mixins/_index

doctype html
html
  head
    title=Documentation
    meta(
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block head_css
      link(
        href="css/docs.css"
        rel="stylesheet"
        type="text/css")

  block body
    body.docs-layout
      div(style="display: none;")
        include ../assets/icons-sprite.svg
      .docs-layout__content
        .docs-layout__nav
          .docs-logo
            .docs-logo__image
              include ../assets/images/logo/vertical.svg

          nav.docs-nav
            .docs-nav__list
              each item in navigation
                .docs-nav__item
                  h6.docs-nav__section-title!=item.label
                  .docs-nav__items
                    each subItem in item.items
                      a.docs-nav__link(
                      href=`/docs.html?${subItem.url}`)!=subItem.label

        .docs-layout__page-wrapper
          .docs-layout__page
            block page

